.admin-btn {
    justify-content: space-evenly !important;

    @media screen and (max-width: 1600px) {
    
     
               margin-top: 30px !important;
               margin-bottom: 30px !important;
            
        
    }

}

.statSection {

    margin: 30px 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .row {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: 15px 0;

        .box {
            width: 300px;
            height: 120px;
            background-color: #fff;
            border: 2px solid #0c3a53;
            border-radius: 10px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.02);

            h2 {
                background-color: #0c3a53;
                color: #fff;
                padding: 10px;
                font-size: 2.3rem;
                text-align: center;
                border-radius: 8px 8px 0 0px;
            }

            h1 {
                width: 100%;
                height: auto;
                font-size: 7rem;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #0c3a53;
                text-align: center;

                // background: rgba(35, 186, 177, 0.05);
                span {
                    width: 60px;
                    height: 60px;

                    margin: 6px;

                    svg {

                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #0c3a53;
                    }
                }

            }

            &:nth-of-type(2) {
                h2 {
                    background-color: green;
                }
            }

            &:nth-of-type(3) {
                h2 {
                    background-color: #b00020;
                }
            }
        }

    }

    @media screen and (max-width: 1330px) {
        margin: 30px 150px;

        .row {


            .box {
                width: 230px;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        margin: 30px 70px;

        .row {

            justify-content: space-between;

            .box {
                width: 200px;
            }
        }
    }

    @media screen and (max-width: 768px) {


        margin: 30px 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .row {
            width: 100%;
            justify-content: space-between;
            margin: 15px 0;

            .box {
                width: 170px;
                height: 100px;
                box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.02);

                h2 {
                    font-size: 1.7rem;
                    text-align: center;
                    border-radius: 8px 8px 0 0px;
                }

                h1 {
                    font-size: 5rem;

                    // background: rgba(35, 186, 177, 0.05);
                    span {
                        width: 40px;
                        height: 40px;

                        margin: 6px;



                    }
                }

            }
        }
    }

    @media screen and (max-width: 600px) {
        .row {
            .box {
                width: 150px;

                h2 {
                    font-size: 1.4rem;
                }

                h1 {
                    font-size: 4.5rem;
                }

            }
        }
    }
         @media screen and (max-width: 540px) {
    
    
             margin: 30px 40px;
             .row {
                 width: 100%;
                 flex-direction: column;
                gap: 15px;
    
                 .box {
                     width: 100%;
    
                     h2 {
                         font-size: 2rem;
                     }
    
                     h1 {
                         font-size: 5rem;
                     }
    
                 }
             }
         }


}