.bottom-ctnt {
  display: flex;
    justify-content: space-between;
  .bottom-left {
   
    width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    
      p {
        font-size: 2.4rem;
        color: #787878;
        font-family: "Inter";
      }
    
      h2 {
        margin-top: 20px;
        font-size: 5.2rem;
        font-weight: 700px;
        margin-bottom: 22px;
    
        span {
          color: #23bab1;
        }
      }
  }

  .bottom-right {
    display: flex;
      width: 50%;
      justify-content: flex-end;
      padding-right: 80px;
    
      img {
    
        width: 730px;
        height: auto;
    
      }
  }
}
