.container-heading {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 90px;
  h1 {
    color: #0c3a53;
    font-size: 60px;
  }
  @media screen and (max-width: 750px) {
    h1 {
      font-size: 52px;
    }
  }
  @media screen and (max-width: 665px) {
    h1 {
      font-size: 45px;
    }
  }
}

.chooseUs {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 94px;
}
