.containerLp {
  display: flex;
  justify-content: center;
  h1 {
    color: #0c3a53;
    font-size: 60px;
  }
}

.chooseUs {
    // margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 94px;

}
