.header {
  height: 100px;
  margin: 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;

  @media screen and (max-width: 1450px) {
    margin: 0 75px;
  }

  @media screen and (max-width: 770px) {
    margin: 0 50px;
  }

  @media screen and (max-width: 560px) {
    margin: 0 25px;
  }

  .logo {
    display: flex;
    gap: 45px;
    align-items: center;
    justify-items: center;

    img {
      height: 40px;
      width: auto;
    }

    ul {
      display: flex;
      gap: 30px;
      font-size: 2.8rem;
      font-family: "proxima nova";

      li {
        cursor: pointer;
      }
    }

    .btn-nav {
      display: none;
    }

    @media screen and (max-width: 1450px) {
      gap: 35px;

      img {
        height: 35px;
        width: auto;
      }

      ul {
        gap: 25px;
        font-size: 2.3rem;
      }
    }

    @media screen and (max-width: 770px) {
      img {
        height: 30px;
        width: auto;
      }

      nav {
        display: none;
      }

      .show {
        display: flex !important;
        width: 100%;
        // width: 160%;
        //  width: 232%;
        background-color: #0c3a53;
        color: #ffff;
        position: absolute;
        left: 0;
        top: 0;
        align-items: center;
        flex-direction: column;
        padding: 100px;

        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 40px;

          li {
            font-size: 3rem;
            font-weight: 500;
          }

          li:hover {
            font-weight: bolder;
            color: #23bab1;
          }
        }

        .btn-times {
          position: absolute;
          right: 0;
          top: 0;
          font-size: 4rem;
          margin-top: 23px;
          margin-right: 50px;
          background-color: #ffff;
          color: #0c3a53;
          display: flex;
          align-items: center;
          justify-items: center;
          justify-content: center;
        }
      }

      .btn-nav {
        display: block;
      }
    }

    @media screen and (max-width: 560px) {
      gap: 0px;

      img {
        height: 20px;
        width: auto;
      }

      .show {
        .btn-times {
          margin-top: 33px;
          margin-right: 25px;
        }
      }
    }

    @media screen and (max-width: 380px) {
      .show {
        padding: 80px;

        ul {
          gap: 30px;

          li {
            font-size: 2.5rem;
          }
        }

        .btn-times {
          font-size: 3rem;
          margin-top: 33px;
          margin-right: 25px;
        }
      }
    }
  }

  .btns {
    display: flex;

    gap: 20px;

    @media screen and (max-width: 560px) {
      justify-items: center;
      justify-content: center;
      align-items: center;
      gap: 0px;
    }

    @media screen and (max-width: 321px) {
      gap: 10px;
    }
  }

  .p-btn {
    height: 55px;
    width: 131px;
    border-radius: 10px;
    background-color: #0c3a53;
    font-size: 2.4rem;
    color: #ffff;
    font-weight: 400;
    font-style: normal;
    font-family: "proxima nova";
    cursor: pointer;

    @media screen and (max-width: 770px) {
      background-color: #ffff;
      color: #0c3a53;
      font-weight: bolder;
      font-size: 3rem;
    }

    @media screen and (max-width: 560px) {
      font-weight: bold;
      font-size: 2.5rem;
    }

    @media screen and (max-width: 321px) {
      width: 70px;
      font-size: 2rem;
    }
  }

  .btn-nav {
    display: none;
  }

  @media screen and (max-width: 770px) {
    .btn-nav {
      display: block;
      height: 55px;
      width: 55px;
      border-radius: 10px;
      background-color: #0c3a53;
      font-size: 2.4rem;
      color: #ffff;
      font-weight: 400;
      font-style: normal;
      font-family: "proxima nova";
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-items: center;
      justify-content: center;
    }
  }

  @media screen and (max-width: 560px) {
    .btn-nav {
      height: 35px;
      width: 35px;

      font-size: 1.8rem;
    }
  }
}
