.container {
  margin: 70px 150px;
  display: flex;
  justify-content: space-between;

  .left {
    margin-top: 30px;
    width: 950px;

    h2 {
      font-size: 7rem;
      // font-weight: 700px;

      span {
        color: #23bab1;
      }
    }

    p {
      margin-top: 28px;
      font-size: 2.8rem;
      color: #787878;
    }

    .p-btn {
      margin-top: 30px;
      //   margin-right: 573px;
      height: 70px;
      width: 350px;
      border-radius: 10px;
      background-color: #0c3a53;
      font-size: 2.4rem;
      color: #ffff;
      font-weight: 400;
      font-style: normal;
      
      cursor: pointer;

      h3 {
        font-weight: 700px;
        font-size: 3.2rem;
      }

      @media screen and (max-width: 770px) {
        background-color: #ffff;
        color: #0c3a53;
        font-weight: bolder;
        font-size: 3rem;
      }

      @media screen and (max-width: 560px) {
        font-weight: bold;
        font-size: 2.5rem;
      }

      @media screen and (max-width: 321px) {
        width: 70px;
        font-size: 2rem;
      }
    }
  }

  .right {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;

    img {
      width: 700px;
      height: 400px;
    }
  }
}