.container {
  margin: 70px 150px;
  display: flex;
  justify-content: space-between;

  .left {
    margin-top: 14px;
    width: 747px;

    h2 {
      font-size: 7rem;
      // font-weight: 700px;

      span {
        color: #23bab1;
      }
    }

    p {
      margin-top: 28px;
      font-size: 2.8rem;
      color: #787878;
    }

    .p-btn {
      margin-top: 30px;
      //   margin-right: 573px;
      height: 70px;
      width: 350px;
      border-radius: 10px;
      background-color: #0c3a53;
      font-size: 2.4rem;
      color: #ffff;
      font-weight: 400;
      font-style: normal;

      cursor: pointer;

      h3 {
        font-weight: 700px;
        font-size: 3.2rem;
      }

      @media screen and (max-width: 1340px) {
        width: 275px;
        height: 66px;
      }

      @media screen and (max-width: 1020px) {
        width: 200px;
        height: 59px;
        h3 {
          font-size: 3rem;
        }
      }

      @media screen and (max-width: 770px) {
        font-weight: bolder;
        font-size: 3rem;
      }

      @media screen and (max-width: 560px) {
        font-weight: bold;
        font-size: 2.5rem;
      }

      @media screen and (max-width: 321px) {
       width: 60%;
        font-size: 2rem;
      }
    } //button-ends

    @media screen and (max-width: 1683px) {
      .content {
        width: 80%;
        h2 {
          font-size: 6rem;
        }
        p {
          font-size: 2.7rem;
        }
      }
    }
    @media screen and (max-width: 1340px) {
      .content {
        h2 {
          font-size: 4.5rem;
        }
      }
    }
    @media screen and (max-width: 1020px) {
      .content {
        h2 {
          font-size: 3.2rem;
        }
        p {
          font-size: 2.3rem;
        }
      }
    }
    @media screen and (max-width: 770px) {
      width: 100%;
      .content {
        width: 100%;
        h2 {
          font-size: 5rem;
        }
        p {
          font-size: 2.8rem;
        }
      }
    }
  } //left

  .right {
    width: 50%;
    display: flex;
    // justify-content: end;

    img {
      width: 700px;
      height: 400px;
    }

    @media screen and (max-width: 1683px) {
      img {
        width: 630px;
        height: 360px;
      }
    }
    @media screen and (max-width: 1340px) {
      img {
        width: 515px;
        height: 308px;
      }
    }
    @media screen and (max-width: 1020px) {
      img {
        width: 425px;
        height: 280px;
      }
    }
    @media screen and (max-width: 850px) {
      img {
        width: 366px;
        height: 245px;
      }
    }
    @media screen and (max-width: 806px) {
      // margin-right: 80px;
      img {
        width: 350px;
        height: 250px;
      }
    }
    @media screen and (max-width: 770px) {
      margin-top: 30px;
      width: 100%;

      img {
        width:  100%;
        height: auto;
      }
    }
  } //right-end

  @media screen and (max-width: 1450px) {
    margin: 70px 75px;
  }
  @media screen and (max-width: 770px) {
    margin: 70px 50px;
    display: flex;
    flex-direction: column;
  }
  @media screen and (max-width: 560px) {
    margin: 0 25px;
  }
}
