.mid-content {
  display: flex;
  margin: 100px 0px ;
  justify-content: space-between;

  .right {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    padding-left: 50px;
    img {
      width: 600px;
      height: auto;
    }
  }

  .left-content-mid {
    width: 41%;

    p {
      font-size: 2.4rem;
      color: #787878;
      font-family: "Inter";
    }

    h2 {
      margin-top: 20px;
      font-size: 5.2rem;
      font-weight: 500px;
      margin-bottom: 22px;

      span {
        color: #23bab1;
      }
    }
  }
}