.offerDiv {
    width: 100%;
    max-width: 1920px;
    height: 80px;
    background-color: #23BAB1;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 2.5rem;

        color: #FFFFFF;
    }
}