.ourLearnP {
    margin: 100px 150px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .headings {
        text-align: center;
        margin-bottom: 30px;

        h2 {
            font-size: 5.5rem;
            font-weight: 600;
            margin-bottom: 20px;
            color: #23bab1;

            &:nth-of-type(2) {
                color: #0c3a53;
            }
        }
    }

    .SVGcards {
        border: 10px solid #b4ddda;
        padding: 50px;
        border-radius: 30px;
    }

    @media screen and (max-width: 1024px) {
        margin: 50px 75px;

        .headings {
            h2 {
                font-size: 4rem;
            }
        }

        .SVGcards {
            padding: 30px;
        }

    }

    @media screen and (max-width: 768px) {
        margin: 50px 50px;

        .headings {
            h2 {
                font-size: 3.5rem;
            }
        }

        .SVGcards {
            padding: 30px;
        }

    }

    @media screen and (max-width: 500px) {
        margin: 50px 20px;

        .headings {
            h2 {
                font-size: 3rem;
                margin-bottom: 10px;
            }
        }

        .SVGcards {
            padding: 5px;
        }

    }

    @media screen and (max-width: 500px) {
        margin: 50px 20px;

        .headings {
            h2 {
                font-size: 2.7rem;
            }
        }

        .SVGcards {
            padding: 5px;
        }

    }
}