.content-top {
  display: flex;
  justify-content: space-between;
  margin-right: (384px - 150px);
  .left-content-top {
    margin-right: 450px;
    width: 565px;
    height: 273px;

    p {
      font-size: 2.4rem;
      color: #787878;
      font-family: "Inter";
    }

    h2 {
      margin-top: 20px;
      font-size: 5.2rem;
      font-weight: 700px;
      margin-bottom: 22px;

      span {
        color: #23bab1;
      }
    }
  }

  .right {
    img {
      width: 370px;
      height: 310px;
    }
  }
}
