.content-top {
  display: flex;
  justify-content: space-between;

  // margin-right: (384px - 150px);
  .left-content-top {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      font-size: 2.4rem;
      color: #787878;
      font-family: "Inter";
    }

    h2 {
      margin-top: 20px;
      font-size: 5.2rem;
      font-weight: 700px;
      margin-bottom: 22px;

      span {
        color: #23bab1;
      }
    }
    @media screen and (max-width: 1340px) {
      h2 {
        font-size: 4.5rem;
      }
    }
    @media screen and (max-width: 955px) {
      h2 {
        font-size: 3.2rem;
      }
      p {
        font-size: 2.3rem;
      }
    }
    @media screen and (max-width: 823px) {
      width: 70%;
      justify-content: space-between;
    }
    @media screen and (max-width: 770px) {
      width: 100%;
      h2 {
        font-size: 5rem;
      }
      p {
        font-size: 2.8rem;
      }
    }
  } //end left

  .right {
    display: flex;
    width: 50%;
    // justify-content: end;
    padding-right: 80px;
    img {
      width: 600px;
      height: auto;
    }
    @media screen and (max-width: 1423px) {
      width: 70%;

      img {
        width: 500px;
      }
    }
    @media screen and (max-width: 1223px) {
      img {
        width: 440px;
      }
    }
    @media screen and (max-width: 1107px) {
      img {
        width: 345px;
      }
    }
    @media screen and (max-width: 955px) {
      img {
        width: 300px;
        height: auto;
      }
    }
    @media screen and (max-width: 839px) {
      padding-top: 50px;
      margin-right: none;
      img {
        width: 280px;
        height: 300px;
      }
    }
    @media screen and (max-width: 770px) {
      img {
        width: 140%;
        height: auto;
        margin-left: 75px;
      }
    }
  } //end right

  @media screen and (max-width: 955px) {
    // column-gap: 0px;
  } 
  @media screen and (max-width: 770px) {
    display: flex;
    flex-direction: column;
  } 
} //end class
