.formContainer{
    .forget{
       justify-content: flex-end;
        .fpass{
            font-size: 2rem;
            font-weight: 600;
            color: #0C3A53;
            margin-right: 20px;
        }

    }
}