.pricePage {
    margin: 70px 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        color: #0c3a53;
        font-size: 6rem;
        margin-left: 50px;
        margin-bottom: 20px;
    }
}