.background {
    // height: calc(100vh - 100px);
    background-color: #0C3A53;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    // align-items: center;
    // justify-items: center;

@media screen and (max-height: 768px) {
       height: 105vh;
    }
}

.roleContainer {

    @media screen and (max-width: 768px) {
        transform: scale(0.8);
    }

    @media screen and (max-width: 560px) {
        transform: scale(0.65);
        margin-top: -70px;
    }

    @media screen and (max-width: 425px) {
        transform: scale(0.55);
    }

    @media screen and (max-width: 375px) {
        transform: scale(0.47);
        margin-top: -150px;
    }

    @media screen and (max-width: 320px) {
        transform: scale(0.42);
        margin-top: -250px;
    }
}

.wrapper {
    display: inline-flex;
    background: #fff;
    height: 150px;
    width: 600px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    margin-top: 70px;

    @media screen and (max-width: 560px) {
        margin-top: 0px;
    }


    .option {
        background: #fff;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 10px;
        border-radius: 5px;
        cursor: pointer;
        padding: 0 10px;
        border: 2px solid lightgrey;
        transition: all 0.3s ease;

        .dot {
            height: 40px;
            width: 40px;
            background: #d9d9d9;
            border-radius: 50%;
            position: relative;
        }

        ::before {
            position: absolute;
            content: "";
            top: 5px;
            left: 5px;
            width: 30px;
            height: 30px;
            background: #0C3A53;
            border-radius: 50%;
            opacity: 0;
            transform: scale(1.9);
            transition: all 0.3s ease;
        }

        span {
            font-size: 3.2rem;
            color: #808080;
            font-family: 'proxima nova';
        }
    }

    input[type="radio"] {
        display: none;
    }

    #student:checked:checked~.student,
    #teacher:checked:checked~.teacher {
        border-color: #0C3A53;
        background: #0C3A53;
    }

    #student:checked:checked~.student .dot,
    #teacher:checked:checked~.teacher .dot {
        background: #fff;
    }

    #student:checked:checked~.student .dot::before,
    #teacher:checked:checked~.teacher .dot::before {
        opacity: 1;
        transform: scale(1);
    }

    #student:checked:checked~.student span,
    #teacher:checked:checked~.teacher span {
        color: #fff;
    }
}




// Form Container Styling 

.formContainer {
    display: flex;
    background: #fff;
    height: 740px;
    width: 600px;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    border-radius: 10px;
    padding: 20px 20px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    margin-top: 70px;
    gap: 30px;

    @media screen and (max-width: 768px) {
        transform: scale(0.8);
    }

    @media screen and (max-width: 560px) {
        transform: scale(0.7);
        margin-top: -30px;
      
    }

    @media screen and (max-width: 425px) {
        transform: scale(0.65);
            margin-top: -50px;
    }

    @media screen and (max-width: 375px) {
        transform: scale(0.59);
        margin-top: -100px;
    }

    @media screen and (max-width: 320px) {
        transform: scale(0.5);
        margin-top: -150px;
    }


    .heading {
        font-family: 'proxima nova';
        font-style: normal;
        font-weight: 700;
        font-size: 4.8rem;
        color: #444444;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .form-group {
        margin: 20px 0;

        input {
            width: 475px;
            height: 70px;

            border: 1px solid #0C3A53;
            font-size: 2.4rem;
            padding: 19px 30px;
            border-radius: 10px;

        }

        input[type=submit] {
            background-color: #0C3A53;
            color: #fff;
            font-weight: 600;
            margin-top: 25px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #0C3A53;
            font-size: 3rem;
        }
    }

    .checkbox {
        margin-top: -10px;
        display: flex;
        align-items: center;

        input {
            width: 15px;
            height: 15px;
            margin-right: 15px;
            margin-left: 15px;
        }

        span {
            font-size: 1.6rem;
            color: #787878;

            .term {
                color: #0C3A53;
            }

            .term:hover {
                font-weight: 700;
            }

        }

    }

    .text {
        margin: 0px 0;
        display: flex;
        justify-content: center;


        span {
            text-align: center;
            font-size: 2.2rem;
            color: #787878;

            .login {
                color: #0C3A53;

            }

            .login:hover {

                font-weight: 700;
            }
        }
    }
}

.error {

    input {
        border: 3px solid red !important;
    }

}


.css-1c3trtb-MuiPaper-root-MuiAlert-root {
    display: flex;
    align-items: center;
    .css-1pxa9xg-MuiAlert-message {
            font-size: 20px;
        }
}