@font-face {
    font-family: "proxima nova";
    src: url(../../fonts/ProximaNova-Regular.otf);

    
}
@font-face {
    font-family: 'Stay Dreaming';
    src: url(../../fonts/StayDreaming.otf);

    
}