.userinfo {
    display: flex;
    align-items: center;

    h2 {
        font-weight: 400;
        font-size: 2.8rem;

        color: #444444;

        @media screen and (max-width: 375px) {
            display: none;
        }
    }

    .user-icon {
        display: flex;
        height: 5.6rem;
        width: 5.6rem;
        border: 1px solid black;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        font-size: 3.4rem;
        cursor: pointer;

        img {
            height: 5.6rem;
            width: 5.6rem;
            border-radius: 50%;
            border: 2px solid #0C3A53;
            background-color: white;
            // filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.8));
        }
    }

    .dashboard-nav {
        position: relative;
        z-index: 100;

        nav {
            // border: 1px lighter gray;
            width: 22rem;
            padding: 10px 20px;
            border-radius: 5px;
            position: absolute;
            top: 65px;
            right: 20px;
            filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
            background-color: white;

            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;
                text-align: center;
                font-size: 2rem;
                padding: 10px 0;

                @media screen and (min-width: 375px) {
                    .name {
                        display: none;
                    }
                }

                li {
                    cursor: pointer;
                    transition: scale 0.3s ease;

                    &:hover {
                        font-weight: 700;
                        transform: scale(1.04);
                    }
                }

            }

            .logout {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.6rem;
                gap: 10px;
                font-weight: 600;
                padding: 10px;
                background-color: #0C3A53;
                border-radius: 5px;
                color: white;
                cursor: pointer;

                span {
                    color: white;
                    font-size: 2.2rem;
                    display: flex;
                }
            }

            logout:hover {
                font-weight: 800;

            }

        }
    }
}

.changePassword {
    cursor: pointer;

}

.deletePopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20vh;
    width: 40vw;
    background-color: white;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    h2{
        font-size: 2.5rem;
        font-weight: 700;
        color: #0C3A53;
    }

    .confermButton {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        button {
            padding: 10px 20px;
            border-radius: 5px;
            border: 2px solid #0C3A53;
            font-size: 2rem;
            font-weight: 700;
            width: 100px;
            cursor: pointer;
            transition: all 0.3s ease;



            &:hover {
                transform: scale(1.15);
                background-color: #0C3A53;
                color: white;
            }


            &:nth-of-type(2) {
                background-color: #0C3A53;
                color: white;

                // &:hover {
                //     background-color: white;
                //     color: #0C3A53;
                // }
            }

        }

    }
}